{% extends 'base.html' %}

{% block content %}
<div class="text-center" role="alert">
    No song titles matched your search. Search for something else or try these suggestions.
</div>

<dev class="form-row">
    <dev class="col offset-4 col-4 text-center">
        <form method="get">
            <input name="s" type="text" placeholder="song name" class="form-control" required>
            <button type="submit" class="btn btn-primary"><i class="fas fa-guitar"></i> Search</button>
        </form>
    </dev>
</dev>

<div class="text-center" role="alert">
    Or try these suggestions:
</div>

<div class="row">
    {% for song in examples %}
    <div class="col-3 text-center song-col">
        <div class="song-panel">
            <a href="/?s={{song.name | quote_plus}}">
                <p class="link"><img src="{{song.img}}"></p>
                <p><b>{{song.name}}</b></p>
            </a>
            <p><i>{{song.msg | safe}}</i></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}