a:link,
a:visited,
a:hover,
a:active {
  color: #db467b;
  text-decoration: none;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:active {
    background: #db467b;
    color: white;
    border: none;
    font-size: larger;
}

form {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.btn-primary {
    margin: 1rem;
}

.song-col {
    padding: 10px;
}

.song-panel {
    background-color: #faebf0;
    height: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
}

.song-panel p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.song-panel .link {
    padding: 0.5em;
}

.song-panel .artists {
    font-weight: bold;
}

.song-panel .name {
    font-style: italic;
}

.song-panel .date {
    font-size: small;
}
